In [21]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [30]:
dataset = pd.read_csv("loan.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y

In [31]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               6
Dependents           15
Education             9
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     21
Credit_History       50
Property_Area         9
Loan_Status           0
dtype: int64

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             585 non-null    object
 2   Married            592 non-null    object
 3   Dependents         583 non-null    float64
 4   Education          589 non-null    object
 5   Self_Employed      566 non-null    object
 6   ApplicantIncome    596 non-null    float64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         576 non-null    float64
 9   Loan_Amount_Term   577 non-null    float64
 10  Credit_History     548 non-null    float64
 11  Property_Area      589 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(6), object(7)
memory usage: 60.9+ KB

In [20]:
# The process to fill the missing Numerical data starts here

In [33]:
dataset.select_dtypes(include="float64").columns

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [34]:
from sklearn.impute import SimpleImputer

In [37]:
si = SimpleImputer(strategy="mean")
ar = si.fit_transform(dataset[['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History']])

In [38]:
new_dataset = pd.DataFrame(ar,columns=dataset.select_dtypes(include="float64").columns)

In [39]:
new_dataset.isnull().sum()

Dependents           0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64