How to handle mixed data and chage data type

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("loan.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             585 non-null    object
 2   Married            592 non-null    object
 3   Dependents         583 non-null    float64
 4   Education          589 non-null    object
 5   Self_Employed      566 non-null    object
 6   ApplicantIncome    596 non-null    float64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         576 non-null    float64
 9   Loan_Amount_Term   577 non-null    float64
 10  Credit_History     548 non-null    float64
 11  Property_Area      589 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(6), object(7)
memory usage: 60.9+ KB

In [5]:
dataset["Dependents"].value_counts()

Dependents
0.0    336
1.0    101
2.0     99
3.0     47
Name: count, dtype: int64

In [6]:
dataset["Dependents"].fillna(dataset["Dependents"].mode()[0], inplace=True)

C:\Users\tanay\AppData\Local\Temp\ipykernel_18088\3963454927.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Dependents"].fillna(dataset["Dependents"].mode()[0], inplace=True)

In [7]:
dataset["DEpendents"].replace("3+", "3", inplace=True)

KeyError: 'DEpendents'

In [8]:
dataset["Dependents"] = dataset["Dependents"].astype(int)

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             585 non-null    object
 2   Married            592 non-null    object
 3   Dependents         598 non-null    int64
 4   Education          589 non-null    object
 5   Self_Employed      566 non-null    object
 6   ApplicantIncome    596 non-null    float64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         576 non-null    float64
 9   Loan_Amount_Term   577 non-null    float64
 10  Credit_History     548 non-null    float64
 11  Property_Area      589 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB