In [1]:
import pandas as pd

In [ ]:
dataset = pd.read_csv("datasets/loan.csv")
dataset.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583.0,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y

In [6]:
dataset.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             9
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     21
Credit_History       50
Property_Area         9
Loan_Status           0
dtype: int64

In [ ]:
# first we will fill the missing values in the categorical data

In [ ]:
dataset["Gender"].fillna(dataset["Gender"].mode()[0], inplace=True)
dataset["Married"].fillna(dataset["Married"].mode()[0], inplace=True)

# values have been filled with the mode of the column

C:\Users\tanay\AppData\Local\Temp\ipykernel_3424\677336969.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Married"].fillna(dataset["Married"].mode()[0], inplace=True)

In [15]:
en_data = dataset[["Gender", "Married"]] # selecting the columns and storing them in a new variable to apply encoding on them

In [ ]:
# Now its time to encode the categorical data
# Method 1: we will use the get_dummies function from pandas 
# Method 2: One-Hot Encoding using sikit-learn's OneHotEncoder

In [ ]:
pd.get_dummies(en_data).info() # this will convert the categorical data into numerical data by creating new columns for each category and filling them with 0s and 1s
en_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  598 non-null    bool
 1   Gender_Male    598 non-null    bool
 2   Married_No     598 non-null    bool
 3   Married_Yes    598 non-null    bool
dtypes: bool(4)
memory usage: 2.5 KB

In [1]:
# Using Sikit-learn's Preprocessing Library
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe = OneHotEncoder(drop='first')
ar = ohe.fit_transform(en_data).toarray()  # this will also convert the categorical data into numerical data by creating new columns (Sparse Row sparse matrix) for each category and filling them with 0s and 1s.

In [22]:
pd.DataFrame(ar, columns=["Gender_Male", "Married_Yes"]) # this will convert the sparse matrix into a DataFrame with the column names as the categories

     Gender_Male  Married_Yes
0            1.0          0.0
1            1.0          1.0
2            1.0          1.0
3            1.0          1.0
4            1.0          0.0
..           ...          ...
593          0.0          0.0
594          1.0          1.0
595          1.0          1.0
596          1.0          1.0
597          0.0          0.0

[598 rows x 2 columns]